.container {
  width: 100%;
}

.book {
  background-color: #ff0000;
  border: none;
  color: white;
  height: 40px;
  text-transform: uppercase;
  font-family: 'Square Market', sans-serif;
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 28px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin: 2rem;
}

.clock {
  height: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main {
  min-height: 40vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.left {
  float: left;

}

.right {
  float: right;

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {

}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: rgb(255,255,255);
 background: -moz-linear-gradient(90deg, rgba(255,255,255,0.1698880235688025) 0%, rgba(255,0,0,0.5956583316920518) 100%);
 background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.1698880235688025) 0%, rgba(255,0,0,0.5956583316920518) 100%);
 background: linear-gradient(90deg, rgba(255,255,255,0.1698880235688025) 0%, rgba(255,0,0,0.5956583316920518) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ff0000",GradientType=1);
}

.schedule {
  line-height: 1.5;
  font-size: 1.5rem;
  border-radius: 15px;
  margin: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.button {
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 50%;
  transition: width 0.3s ease;
  text-align: center;
  border-color: white;
  font-size: 50%;
}

.button:hover,
.button:focus,
.button:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 53%;
}

.card h2 {
  font-size: 1.2rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.logoImg {
  width: 500px;
  height: auto;
}

.tools {
  text-align: center;
}

.check {
  margin-left: 1rem;
}

.photos {
  text-align: center;
}

.photo {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.4);
}

.reviews {
  width: 50%;
}

.longintro {
  margin: auto;
  width: 70%;
  padding: 2rem;
  font-size: 1.5rem;
}

.longintro ul {
  font-size: 1.7rem;
  margin: 1rem;
}

.longintro i {
  font-size: 1.2rem;
}

.longintro h2 {
  text-align: center;
}


@media (max-width: 961px) {
  .longintro {
    width: 100%;
  }

}

@media (max-width: 800px) {
}

@media (max-width: 641px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .reviews {
    width: 100%;
    margin: 0 0 0 0;
  }
}

@media (max-width: 450px) {
  .navbar ul {
    font-size: 90%;
  }
  .photo {
    width: 325px;
    height: 325px;
  }
  .button {
    font-size: 40%;
    margin-bottom: 3rem;
  }
  .logoImg {
    width: 375px;
    height: auto;
  }
}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
/*
@media (min-width:320px)  {  smartphones, iPhone, portrait 480x320 phones
/*
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/*
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
/*
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
/*
@media (min-width:1281px) { /* hi-res laptops and desktops */
